{
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["react"],
  "rules": {
    "no-multi-spaces": false,
    "no-multi-str": false,
    "quotes": [1, "single"]
  },
  "settings": {
    "ecmascript": 6,
    "jsx": true
  }
}
